################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestEvents/.vs/TestEvents/FileContentIndex/e4b3d1e5-b38d-4b27-8e6a-51e310a753a0.vsidx
